/* 헤더 영역 글씨 별도 */

header .gnb > ul > li > a {
    color: var(--t-color01);
}

section {
    margin: 0px auto;
    overflow: hidden;
}

/* 맨처음 기업개요 이미지 */

#about_m {
    height: 100vh;
    width: 100%;
    background-image: url(../image/about_back.jpeg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#about_m .m_p {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#about_m .m_p p {
    font-size: 128px;
    color: var(--t-color02);
    width: 200px;
    border-right: 4px solid var(--t-color02);
    line-height: 170px;
}

#about_m .m_p > p span {
    color: var(--t-color03);
}

#about_m .m_p p:last-child {
    border-right: none;
}


/* 비전과 CI */

#vsci {
    padding-top: 70px;
}

#vsci h3 {
    font-size: var(--f-size04);
}

#vsci article {
    width: 1200px;
    margin: 0px auto;
}

.vslist {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 10px;
}

.vslist li {
    width: 25%;
    text-align: center;
    padding-left: 54px;
}

.vslist li img {
    width: 250px;
    height: 250px;
}

.vslist li p {
 font-size: var(--f-size02);   
 padding-top: 40px;
 line-height: 24px;
}   


.ci .cimg {
    padding-top: 30px;
    display: block;
    margin: 0px auto;   
}

.ci p {
    text-align: center;
}

.ci p span {
    color: var(--t-color03);
}

.ci p:first-of-type {
    font-size: var(--f-size03);
    padding: 56px 0px 30px 0px; 
}

.ci p:first-of-type span {
    color: var(--t-color03);
    font-weight: bold;
}

.ci p:last-of-type {
    font-size: var(--f-size01);
    line-height: 32px;

}

/* 연혁 */

#history {
    padding-top: 150px;
    width: 1200px;
    margin: 0px auto;
    height: 820px;
}

#history h3 {
    font-size: var(--f-size04);
}

#history p {
    font-size: var(--f-size02);  
    padding: 30px 0px;
    line-height: 24px;
}

#history p span {
    color: var(--t-color03);
}

#history select {
    border: none;
    text-indent: 15px;
    padding: 10px 0px;
    font-size: 40px;
    color: var(--t-color04);
    width: 330px;
    border-bottom: 3px solid var(--t-color04);
    appearance: none;
    -webkit-appearance: none;
}

#history .hiscon {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    gap: 80px;
}

#history .hiscon img, #history .hiscon ul {
    width: 45%;
}

#history .hiscon ul li {
    height: 70px;
    border-bottom: 2px solid var(--t-color04);
    line-height: 70px;
    font-size: var(--f-size01);
    text-indent: 5px;
}

#history .hiscon ul li span {
    background-color: var(--t-color03);
    height: 25px;
    padding: 5px 10px;
    color: var(--t-color02);
    margin-right: 20px;
}

/* 관계사 현황 */

#relc {
    padding-top: 50px;
    width: 1200px;
    margin: 0px auto;
}

#relc h3 {
    font-size: var(--f-size04);
    padding: 20px 0px 50px 0px;
}

#relc .logis {
    display: flex;
    width: 100%;
    text-align: center;
}

#relc .logis li {
    width: 25%;
    font-size: 20px;
}

.tab {
    display: inline-block;
    width: 100%;
    background: var(--t-color04);
    color: var(--t-color02);
    line-height: 50px;
    border: 1px solid var(--t-color02);
}

#relc .logis div {
    width: 100%;
    height: 700px;
}
#relc .logis div ul {
    width: 400%;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#relc .logis div ul li {
    padding: 20px 0px;
    width: 25%;
}

#relc .logis div ul li a {
    display: block;
    text-align: center;
    line-height: 35px;
    font-size: var(--f-size02);
}

/* 뉴스 */

#news {
    padding-top: 50px;
    width: 1200px;
    margin: 0px auto;
    height: 1024px;
}

#news h3 {
    font-size: var(--f-size04);
    padding: 0px 0px 70px 0px;
}

#news ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

#news ul li {
    width: 50%;
    padding: 30px 0px;
}

#news ul li img {
    width: 540px;
    height: 240px;
    object-fit: cover;
}

#news ul li img:first-of-type {
    border: 1px solid var(--t-color01);
}

#news ul li a {
    display: block;
    line-height: 28px;
}

#news ul li div a:nth-of-type(2) {
    font-size: 20px;
}

#news ul li div a:last-of-type {
    font-size: var(--f-size01);
}

#more {
    display: block;
    width: 400px;
    height: 60px;
    margin: 30px auto;
    text-align: center;
    line-height: 60px;
    font-size: var(--f-size02);
    border: 3px solid var(--t-color03);
    border-radius: 10px;
    transform: translateX(-20px);
}

/* 오시는 길*/

#comeway {
    width: 100%;
    height: 670px;

    background: var(--t-color03);
}

#comeway article h3 {
    font-size: var(--f-size04);
    color: var(--t-color02);
}

#comeway article {
    padding: 70px 0px 0px 0px;
    width: 1200px;
    margin: 0px auto;
}

#comeway article div {
    width: 50%;
}

#comeway .comway_con {
    margin: 40px 0px 0px 0px;
    width: 100%;
    display: flex;
}

#comeway .c_info {
    background: var(--t-color02);
}

#comeway .c_info dl {
    line-height: var(--f-size03);
    padding: 40px 0px 0px 80px;
}

#comeway .c_info dl dt {
    font-size: var(--f-size02);
    font-weight: bold;
    color: var(--t-color03);
}

#comeway .c_info dl dd {
    font-size: var(--f-size01);
    margin-bottom: 20px;
}

#comeway .c_info i.fas {
    font-size: 40px;    
    text-indent: -50px;
    transform: translateY(20px);
}

#comeway .c_info i.fa-location-dot {
    text-indent: -40px;
}