@charset "utf-8";

#career {
  width: 100%;
  height: 100vh;
  background: #fcb416;
}
#career article {
  width: 1200px;
  margin: 0px auto;
  height: 1024px;
}
#career h2 {
  font-size: 128px;
  color: #fff;
  transform: translateY(320px);
}
.c_box01 {
  display: inline-block;
  width: 264px;
  height: 20px;
  transform: translateY(360px);
  box-sizing: border-box;
  transition: all linear 0.3s;
  border-radius: 0px 0px 20px 0px;
  border-bottom: 1px solid var(--t-color04);
  border-right: 1px solid var(--t-color04);
}
.c_box01:hover{
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;

}
/* .c_box01:before {
  content: "";
  position: absolute;
  top: 19px;
  display: block;
  border-radius: 0px 0px 20px 0px;
  width: 1px;
  height: 1px;
  background-color: var(--t-color04);
  transition: all linear 0.5s;
}
.c_box01:hover:before {
  border-radius: 0px 0px 20px 0px;
  width: 247px;
} */
.c_box01:first-of-type{
  margin-right: 32px;
}
.c_box01 a {
  display: inline-block;
  line-height: 0px;
}
.c_box01 p {
  font-size: 24px;
  color: var(--t-color04);
  font-weight: 400;
  transform: translateY(-10px);
  transition: all linear 0.3s;
}
.c_box01:hover p{
  color: #fff;
}
.c_box01 p > i{
  margin-left: 48px;
}

/* 채용공고서식 */
#job{
  width: 1200px;
  margin: 0px auto;
}
.c_txt01{
  font-size: 40px;
  padding-top: 100px;
  font-weight: 400;
  line-height: 48px;
}
.c_txt02{
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding-top: 16px;
}
.c_txt03{
  font-size: 16px;
  text-align: right;
}
.c_txt03 i{
  padding-left: 8px;
  color: var(--t-color03);
}
#job ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* list-style:inside; */
}
#job ul li{
  width: 387px;
  height: 240px;
  border: 1px solid #333;
  box-sizing: border-box;
  padding-left: 24px;
  border-radius: 8px;
  margin-top: 16px;
  position: relative;
  transition: 0.5s;
}
/* #job ul li::before{
  content: "";
  position: absolute;
  top: -1px; left: -1px;
  border:1px solid var(--t-color03);
  display: inline-block;
  transition: all 0.5s;
  width: 0%;
  height: 259px;
  border-radius: 8px;
} */
#job ul li:hover{
  border: 1px solid var(--t-color03);
  box-sizing: border-box;
  background: #F8F5E4;
  /* filter: grayscale(2); */
}
#job ul li h3{
  color: var(--t-color03);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 16px;
}
#job ul li h4{
  color: var(--t-color04);
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin-top: 8px;
  padding-bottom: 88px;
}
#job ul li:first-child h4{
  padding-bottom: 117px !important;
}
#job ul li a span{
  display: inline-block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50px;
}
#job ul li a span:first-of-type{
  width: 80px;
  background: var(--t-color03);
  color: var(--t-color02);
  font-size: 16px;
  font-weight: 400;
}
#job ul li a span:nth-of-type(2){
  width: 72px;
  background: var(--t-color04);
  color: var(--t-color02);
  font-size: 16px;
  margin: 0px 8px 0px 8px;
}
#job ul li a span:last-of-type{
  font-size: 16px;
}

/* 이마트 채용프로세스 */
#c_process{
  width: 1200px;
  margin: 0px auto;
}
#c_process > .c_txt02{
  margin-bottom: 56px;
}
#c_process ul{
  width: 1048px;
  height: 285px;
  display: flex;
  margin: 0px auto;
  justify-content: space-around;
}
#c_process ul li{
  position: relative;
}
#c_process ul li > span{
  position: absolute;
}
#c_process ul li > span:first-of-type{
  right: -88px;
  top: 98px;
  display: inline-block;
  width: 88px;
  height: 2px;
  background: #d9d9d9;
}
#c_process ul li > span:last-of-type{
  right: -46px;
  top:87px;
  display: inline-block;
  width: 24px; height: 24px;
  border-radius: 50%;
  border: 1px dashed var(--t-color03);
  box-sizing: border-box;
}
#c_process ul li div{
  width: 196px;
  height: 196px;
  border-radius: 50%;
  background: conic-gradient(var(--t-color03) 0.1deg, var(--t-color04) 0deg);
  text-align: center;
}
#c_process ul li p{
  text-align: center;
}
#c_process ul li p:first-of-type{
  margin-top: 16px;
  color: var(--t-color03);
  font-size: 32px;
}
#c_process ul li p:last-of-type{
  margin-top: 8px;
  font-size: 20px;
}
#c_process ul li div img{
  width: 188px;
  height: 188px;
  margin-top: 4px;
}
#c_process h3:first-of-type{
  margin-top: 60px !important;
}
#c_process h3{
  font-size: 18px;
  margin-top: 24px;
}
.c_txt04{
  font-size: 16px;
  line-height: 40px;
  margin-top: 16px;
  text-indent: 16px;
}
.c_txt04 span{
  font-size: 16px;
}

/* 지원현황 */
#c_list{
  width: 1200px;
  margin: 200px auto;
  text-align: center;
}
#c_list h2{
  font-size: var(--f-size04);
  line-height: 100px;
}
#c_list > p{
  font-size: var(--f-size02);
  margin-bottom: 100px;
}
.c_btn01{
  float: right;
  font-size: var(--f-size01);
}
.c_btn01 .fas{
  color: var(--t-color03);
  font-size: var(--f-size02);
}
.c_tab{
  font-size: var(--f-size03);
  display: flex;
  gap: 20px;
  color: #ACAEBF;
  padding-bottom: 10px;
}
.c_on{color: var(--t-color01);}
#c_list table{
  margin-bottom: 50px;
}
#c_list .title{
  background: var(--t-color04);
  color: var(--t-color02);
  border-top: 2px solid #FCB416;
  font-size: var(--f-size02);
  font-weight: 200;
  line-height: 36px;
}
#c_list td{
  font-size: var(--f-size01);
  padding: 10px 0;
}
#c_list input{
  height: 30px;
  border-radius: 5px;
}
#c_list input[type=text]{
  width: 200px;
  border: 1px solid #333;
}
#c_list input[type=submit]{
  width: 60px;
  background: #fff;
  border: 1px solid #FCB416;
  cursor: pointer;
}

/* 지원하기 */
#c_apply{
  width: 1200px;
  margin: 200px auto;
  text-align: center;
}
#c_apply h2{
  font-size: var(--f-size04);
  line-height: 100px;
}
#c_apply .c_down{
  display: block;
  margin: 10px 0;
  font-size: var(--f-size02);
  text-align: right;
}
#c_apply .fa-folder-open{
  color: var(--t-color03);
}
#c_apply table{
  margin-bottom: 50px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}
#c_apply th{
  font-size: var(--f-size01);
  line-height: 30px;
  background: var(--t-color03);
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
#c_apply td{
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
  font-size: var(--f-size);
}
#c_apply input[type=text]{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #757575;
}
#c_apply select{
  width: 305px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #757575;
}
#c_apply input[type=radio]{
  accent-color: var(--t-color03);
}
#c_apply input[type=submit]{
  width: 400px;
  height: 50px;
  border-radius: 5px;
  background: var(--t-color03);
  border: none;
  font-size: var(--f-size02);
  cursor: pointer;
}