@charset "utf-8";

/* 헤더서식 */
header{
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 999;
  background: #ffffff70;
}
.h_inner{
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  width: 150px;
}
header h1 img{width: 100%;}
header .gnb > ul{
  display: flex;
  justify-content: space-evenly;
}
header .gnb > ul > li{
  margin-left: 40px;
}
header .gnb > ul > li > a{
  font-size: var(--f-size02);
  color: var(--t-color02);
  font-weight: 400;
}
header .sub{
  display: none;
}

header .gnb:hover .sub {
  display: block;
}

header .sub {
  width: 1920px;
  position: absolute;
  top: 100px;
  background: #ffffff70;
  left: -120px;
  height: 290px;
  text-align: center;
}

header .sub > ul{}
header .sub li{
  padding: 10px 0px;
}

header .gnb ul li:first-child .sub {
  left: 600px;
}
header .sub > li > a{}
header .lnb{
  position: absolute;
  top: 50%;
  right: 0;
}
header.lnb > ul{
  display: flex;
}
header .lnb > ul > li{}

/* 푸터서식 */
footer{
  width: 100%;
  background: var(--t-color04);
  padding: 50px 0;
  color: #fff;
}
.f_inner{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
.f_link{
  display: flex;
  gap: 35px;
}
.f_link a{
  font-size: var(--f-size02);
  color: #fff;
  line-height: 32px;
}
address{
  width: 730px;
  padding: 20px 0;
  font-size: var(--f-size);
  line-height: 24px;
}
address dt, address dd{display: inline-block;}
address dd{margin-right: 20px;}
.f_info select{
  width: 100px;
  height: 20px;
  border: 1px solid #fff;
  font-size: 12px;
  color: #fff;
  background: var(--t-color04);
}

.hidden {
  display: none;
}