@charset "utf-8";

/* 헤더서식 */
header{
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 9999999;
  border-bottom: 1px solid #dadada;
  box-shadow: 0 2px 5px rgb(0 0 0 / 5%);
  background: #fff;
}
.h_inner{
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  width: 150px;
}
header h1 img{width: 100%;}
header .gnb > ul{
  display: flex;
  justify-content: space-evenly;
}
header .gnb > ul > li{
  margin-left: 40px;
}

header .gnb > ul > li:hover a {
  text-decoration: underline;
  text-decoration-color: var(--t-color03);
  text-underline-position: under;
  text-decoration-thickness: 3px;
}
header .gnb > ul > li > a{
  font-size: var(--f-size02);
  color: var(--t-color02);
  font-weight: 400;
  line-height: 100px;
}
/* header .sub{
  display: none;
}

header .gnb:hover .sub {
  display: block;
} */

/* header .sub {
  width: 1920px;
  position: absolute;
  top: 100px;
  background: #ffffff70;
  left: -120px;
  height: 290px;
  text-align: center;
}

header .sub > ul{}
header .sub li{
  padding: 10px 0px;
}

header .gnb ul li:first-child .sub {
  left: 600px;
}
header .sub > li > a{}
header .lnb{
  position: absolute;
  top: 50%;
  right: 0;
} */

header .h_inner2 {
  width: 100%;
  background: #ffffff30;
  height: 300px;
  display: none;
}

header:hover .h_inner2 {
  display: block;
}

header .lnb {
  width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: right;
}


header .lnb .lnb_box {
  display: flex;
  text-align: center;
  font-size: 15px;
  width: 640px;
  justify-content: right;
  gap: 30px;
}

header .lnb .lnb_box ul li, header .lnb .lnb_box ul li a {
  line-height: 40px;
  display: block;
}

header .lnb .lnb_box ul:nth-of-type(2) {
  text-indent: 20px;
}

header .lnb .lnb_box ul:nth-of-type(3) {
  text-indent: -10px;
}


header .lnb .lnb_box ul:nth-of-type(4) {
  text-indent: -10px;
}

header .lnb .lnb_box ul:nth-of-type(5) {
  text-indent: 5px;
}

header .lnb .lnb_box ul:nth-of-type(6) {
  text-indent: -9px;
}

header .lnb .lnb_box ul li:hover a {
  color: var(--t-color03);
}

/* 푸터서식 */
footer{
  width: 100%;
  background: var(--t-color04);
  padding: 50px 0;
  color: #fff;
}

.f_inner{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
.f_link{
  display: flex;
  gap: 35px;
}
.f_link a{
  font-size: var(--f-size02);
  color: #fff;
  line-height: 32px;
}
address{
  width: 730px;
  padding: 20px 0;
  font-size: var(--f-size);
  line-height: 24px;
}
address dt, address dd{display: inline-block;}
address dd{margin-right: 20px;}
.f_info select{
  width: 100px;
  height: 20px;
  border: 1px solid #fff;
  font-size: 12px;
  color: #fff;
  background: var(--t-color04);
}

.hidden {
  display: none;
}


