@charset "utf-8";

/* í—¤ë”ì„œì‹ */
header{
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 999;
  background: #ffffff70;
}
.h_inner{
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  width: 150px;
}
header h1 img{width: 100%;}
header .gnb > ul{
  display: flex;
  justify-content: space-evenly;
}
header .gnb > ul > li{
  margin-left: 40px;
}
header .gnb > ul > li > a{
  font-size: var(--f-size02);
  color: var(--t-color02);
  font-weight: 400;
}
header .sub{
  display: none;
}
header .sub > ul{}
header .sub > li{}
header .sub > li > a{}
header .lnb{
  position: absolute;
  top: 50%;
  right: 0;
}
header.lnb > ul{
  display: flex;
}
header .lnb > ul > li{}