@charset "utf-8";
main{
  overflow-x: hidden;
}
section{
  /* width: 100%; */
  /* margin: 0px auto; */
  height: 100vh;
  background-image: url(../image/invest.jpg);
  background-size: cover;
  background-attachment: fixed;
}
section article{
  width: 1200px;
  margin: 0px auto;
}
section > article > h2{
  color: var(--t-color02);
  font-size: 128px;
  font-weight: 100;
  transform: translateY(280px);
}