@charset "utf-8";

#career{
  width: 100%;
  height: 100vh;
  background: var(--t-color03);
  position: relative;
}
#career > h2{
  display: none;
}
#career article{
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
#career article h2{
  font-size: 72px;
  color: var(--t-color02);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c_box_wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  height: 200px;

}

.c_box01 {
  display: inline-block;
  padding: 0px 50px 30px 10px;
  height: 20px;
  box-sizing: border-box;
  color: var(--t-color03);
  border-radius: 0px 0px 20px 0px;
  border-bottom: 1px solid var(--t-color04);
  border-right: 1px solid var(--t-color04);
}

.c_box_wrap .c_box01 a {
  font-size: 18px;
  padding-bottom: 40px;
}

.c_box_wrap .c_box01 a i.fa-solid {
  transform: translateX(35px);
}

.c_box01 p {
  height: 20px;
  padding-bottom: 20px;
}

.c_box01:first-of-type {
  margin-top: -10px;
  margin-bottom: 25px;
}

/* 채용공고서식 */
#job{
  width: 90%;
  margin: 0px auto;
  position: relative;
}
.c_txt01{
  font-size: 20px;
  margin-top: 64px;
  text-align: center;
}
.c_txt02{
  margin: 24px 0px 10px 0px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.c_txt03{
  margin-top: 32px;
  font-size: 14px;
  text-align: right;
  margin-bottom: 8px;
}
.c_txt03 i{
  padding-left: 8px;
  color: var(--t-color03);
}
#job .select_wrap{
  position: absolute;
  right: 0px;
}
#job .select_menu{
  cursor: pointer;
  width: 80px;
  position: relative;
  /* float: right; */
  /* left: 10px; */
  /* border: 1px solid var(--t-color03); */
  /* border-radius: 8px; */
}
#job .select{
  background: var(--t-color03);
  /* border: 1px solid var(--t-color03); */
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
#job .option_list{
  position: absolute;
  width: 100%;
  background: var(--t-color02);
  border:1px solid var(--t-color03);
  /* border-bottom: none; */
  border-radius: 0px 0px 8px 8px;
  border-top: none;
  padding: 0px 8px;
  box-sizing: border-box;
  transition: 0.2s linear 0.2s;
  z-index: 999;
  overflow-y: auto;
  max-height: 88px;
  /* transform: translateY(-8px); */
  /* overflow: hidden; */
  /* display: none; */
  height: 0px;
}

#job .option_list::-webkit-scrollbar{
  width: 4px;
  background-color: #eee;
}
#job .option_list::-webkit-scrollbar-thumb{
  background-color: var(--t-color04);
}
#job .option_list.active{
  height: 88px;
}
#job .option{
  font-size: 14px;
  padding: 8px 0px;
  transition: 0.3s ease-in-out;
}
#job .option:hover,#job .option.selected{
  /* background: var(--t-color04); */
  color: var(--t-color03);
}
#job .list01{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  /* list-style:inside; */
}
#job .list01 li{
  width: 100%;
  height: 200px;
  border: 1px solid #333;
  box-sizing: border-box;
  padding-left: 24px;
  border-radius: 8px;
  margin-top: 16px;
  position: relative;
  transition: 0.5s;
}
#job .list01 li h3{
  color: var(--t-color03);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 16px;
}
#job .list01 li h4{
  color: var(--t-color04);
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin-top: 8px;
  padding-bottom: 59px;
}
#job .list01 li:first-child h4{
  padding-bottom: 88px !important;
}
#job .list01 li a span{
  display: inline-block;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50px;
}
#job .list01 li a span:first-of-type{
  width: 80px;
  background: var(--t-color03);
  color: var(--t-color02);
  font-size: 14px;
  font-weight: 400;
}
#job .list01 li a span:nth-of-type(2){
  width: 72px;
  background: var(--t-color04);
  color: var(--t-color02);
  font-size: 14px;
  margin: 0px 8px 0px 8px;
}
#job .list01 li a span:last-of-type{
  font-size: 14px;
}
.sbox01{
  width: 50px !important;
}
/* 이마트 채용프로세스 */
#c_process{
  width: 90%;
  margin: 0px auto;
  margin-bottom: 40px;
}
#c_process > .c_txt02{
  margin-bottom: 50px;
}
#c_process ul{
  width: 90%;
  /* height: 285px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin: 0px auto;
  text-align: center;
  /* justify-content: space-around; */
}
#c_process ul li{
  width: 90%;
  display: block;
  margin: 0px auto;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
#c_process ul li div{
  width: 180px;
  height: 180px;
  margin: 0px auto;
  border-radius: 50%;
  background: conic-gradient(var(--t-color03) 0.1deg, var(--t-color04) 0deg);
  text-align: center;
}
#c_process ul li img{
  width: 170px;
  height: 170px;
  margin-top: 5px;
}
#c_process ul li p:first-of-type{
  margin-top: -50px;
  color: var(--t-color03);
  font-size: 20px;
  
}
#c_process ul li p:last-of-type{
  margin-top: 4px;
  font-size: 15px;
}
#c_process ul li > span{
  position: absolute;
}
#c_process ul li > span:first-of-type{
  left: 49%;
  bottom: -30%;
  display: inline-block;
  width: 2px;
  height: 32px;
  background: #d9d9d9;
}
#c_process h3:first-of-type{
  margin-top: 60px !important;
}
#c_process h3{
  font-size: 18px;
  margin-top: 24px;
}
.c_txt04{
  font-size: 14px;
  line-height: 25px;
  margin-top: 16px;
  margin-left: 16px;
  /* text-indent: 16px; */
  word-wrap: break-word;
}
.c_txt04 span{
  font-size: 14px;
}

/* 지원현황, 지원하기 */
#c_list, #c_apply{
  width: 100%;
  margin: 150px auto;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
}
#c_list h2, #c_apply h2{
  font-size: var(--f-size04);
}
#c_list > p{
  font-size: var(--f-size01);
  margin: 30px 0 50px 0;
}
.c_btn01{
  float: right;
  font-size: var(--f-size);
}
.c_btn01 .fas{
  color: var(--t-color03);
}
.c_tab{
  font-size: var(--f-size01);
  display: flex;
  gap: 10px;
  color: #ACAEBF;
  padding-bottom: 10px;
}
.c_tab li{cursor: pointer;}
.c_on{color: var(--t-color01);}
#c_list table{
  width: 100%;
  margin-bottom: 50px;
  table-layout: fixed;
}
#c_list .title{
  background: var(--t-color04);
  color: var(--t-color02);
  border-top: 2px solid #FCB416;
  font-size: var(--f-size);
  font-weight: 200;
  line-height: 36px;
}
#c_list td{
  font-size: 12px;
  padding: 10px 0;
}
#c_list #search_box{
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  background: url('../image/arrow_down.png') no-repeat 96% 50% #fff;
  color: var(--t-color01);
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #FCB416;
  cursor: pointer;
  text-indent: 10px;
  padding-right: 30px;
}
#c_list #search_box::-ms-expand{ 
  display:none;
  }
#c_list input[type=submit]{
  width: 60px;
  height: 35px;
  color: var(--t-color01);
  background: #fff;
  border-radius: 5px;
  border: 1px solid #FCB416;
  cursor: pointer;
  margin: -1px 0;
}

#c_apply .c_down{
  font-size: var(--f-size01);
  float: right;
  transform: translateY(20px);
}
#c_apply .fa-folder-open{
  color: var(--t-color03);
}
#c_apply form{width: 100%;}
#c_apply table{
  width: 100%;
  margin: 50px auto;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}
#c_apply th{
  min-width: 80px;
  font-size: var(--f-size);
  line-height: 30px;
  background: var(--t-color03);
  border-bottom: 1px solid #ccc;
}
#c_apply td{
  text-align: left;
  border-bottom: 1px solid #ccc;
}
#c_apply input{
  margin: 10px;
}
#c_apply input[type=text]{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #757575;
}
#c_apply select{
  width: 90%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #757575;
  margin: 10px;
}
#c_apply input[type=radio]{
  accent-color: var(--t-color03);
}
#c_apply input[type=submit]{
  max-width: 300px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: var(--t-color03);
  border: none;
  font-size: var(--f-size02);
  cursor: pointer;
}
