@charset "utf-8";

#career{
  width: 100%;
  height: 100vh;
  background: var(--t-color03);
}
#career article{
  width: 90%;
  margin: 0px auto;
  height: 700px;
  text-align: center;
}
#career h2{
  font-size: 72px;
  color: var(--t-color02);
  transform: translateY(300px);
}
.c_box01 {
  display: inline-block;
  width: 220px;
  height: 20px;
  transform: translateY(340px);
  box-sizing: border-box;
  transition: all linear 0.3s;
  border-radius: 0px 0px 20px 0px;
  border-bottom: 1px solid var(--t-color04);
  border-right: 1px solid var(--t-color04);
}
.c_box01:hover{
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.c_box01:first-of-type{
  margin-bottom: 24px;
}
.c_box01 a {
  display: inline-block;
  line-height: 0px;
}
.c_box01 p {
  font-size: 20px;
  color: var(--t-color04);
  font-weight: 400;
  transform: translateY(-4px);
  transition: all linear 0.3s;
}
.c_box01:hover p{
  color: #fff;
}
.c_box01 p > i{
  margin-left: 24px;
}
/* 채용공고서식 */
#job{
  width: 90%;
  margin: 0px auto;
}
.c_txt01{
  font-size: 20px;
  margin-top: 40px;
}
.c_txt02{
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
}
.c_txt03{
  margin-top: 16px;
  font-size: 14px;
  text-align: right;
}
.c_txt03 i{
  padding-left: 8px;
  color: var(--t-color03);
}
#job ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* list-style:inside; */
}
#job ul li{
  width: 100%;
  height: 200px;
  border: 1px solid #333;
  box-sizing: border-box;
  padding-left: 24px;
  border-radius: 8px;
  margin-top: 16px;
  position: relative;
  transition: 0.5s;
}
#job ul li h3{
  color: var(--t-color03);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 16px;
}
#job ul li h4{
  color: var(--t-color04);
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin-top: 8px;
  padding-bottom: 59px;
}
#job ul li:first-child h4{
  padding-bottom: 88px !important;
}
#job ul li a span{
  display: inline-block;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50px;
}
#job ul li a span:first-of-type{
  width: 80px;
  background: var(--t-color03);
  color: var(--t-color02);
  font-size: 14px;
  font-weight: 400;
}
#job ul li a span:nth-of-type(2){
  width: 72px;
  background: var(--t-color04);
  color: var(--t-color02);
  font-size: 14px;
  margin: 0px 8px 0px 8px;
}
#job ul li a span:last-of-type{
  font-size: 14px;
}
.sbox01{
  width: 50px !important;
}
/* 이마트 채용프로세스 */
#c_process{
  width: 90%;
  margin: 0px auto;
}
#c_process > .c_txt02{
  margin-bottom: 40px;
}
#c_process ul{
  width: 90%;
  /* height: 285px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin: 0px auto;
  text-align: center;
  /* justify-content: space-around; */
}
#c_process ul li{
  width: 90%;
  display: block;
  margin: 0px auto;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
#c_process ul li div{
  width: 220px;
  height: 220px;
  margin: 0px auto;
  border-radius: 50%;
  background: conic-gradient(var(--t-color03) 0.1deg, var(--t-color04) 0deg);
  text-align: center;
}
#c_process ul li img{
  width: 210px;
  height: 210px;
  margin-top: 5px;
}
#c_process ul li p:first-of-type{
  margin-top: -60px;
  color: var(--t-color03);
  font-size: 24px;
  
}
#c_process ul li p:last-of-type{
  margin-top: 8px;
  font-size: 16px;
}
#c_process ul li > span{
  position: absolute;
}
#c_process ul li > span:first-of-type{
  left: 49%;
  bottom: -30%;
  display: inline-block;
  width: 2px;
  height: 50px;
  background: #d9d9d9;
}
#c_process h3:first-of-type{
  margin-top: 60px !important;
}
#c_process h3{
  font-size: 18px;
  margin-top: 24px;
}
.c_txt04{
  font-size: 14px;
  line-height: 40px;
  margin-top: 16px;
  margin-left: 16px;
  /* text-indent: 16px; */
  word-wrap: break-word;
}
.c_txt04 span{
  font-size: 14px;
}