@charset "utf-8";
header{
  border-bottom: 1px solid #dadada;
  box-shadow: 0 2px 5px rgb(0 0 0 / 5%);
  background: #fff!important;
}
header .h_inner2{
  background: #fff!important;
}
header .gnb a{
  color: #333!important;
}
h2{
  display: none;
}
.join1{
  width: 860px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}
.join1 .big1{
  font-size: 32px;
  margin-bottom: 50px;
}
.big1::after{
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  background: #333;
  height: 1px;
  top: 55px;
}
.join1 .txt1{
  font-size: 24px;
  margin-bottom: 50px;
}
article legend::after{
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  background: #333;
  height: 1px;
  top: 130px;
}
.ser_box{
  top: 20px;
  font-size: 13px;
  display: none;
  position: relative;
}
.ser_box::after{
  border-bottom: 1px solid #333;
  width: 100%;
  position: absolute;
  display: block;
  content: "";
  padding-bottom: 20px;
}
.join2 .txt2{
  font-size: 16px;
}
.join2 > li{
  margin-bottom: 45px;
  position: relative;
}
.join2 > li:last-child{
  margin-bottom: 40px;
}

.ser_box p:first-child{
  font-size: 15px;
  font-weight: bold;
}
.ser_box p:nth-child(2){
  font-weight: bold;
}
.join2 .arrow{
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #FCB416;
  border-left: none;
  border-top:none;
  top: 0px;
  right: 0;
  cursor: pointer;
}
.join2 .arrow2{
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #FCB416;
  border-left: none;
  border-top:none;
  top: 0px;
  right: 0;
  cursor: pointer;
}
.a_on{
  transform: rotate(45deg);
}
.a_off{
  transform: rotate(-135deg) translateX(-5px) translateY(-5px);
}
label[for="cb2"]{
  font-size: 16px;
}
.join3{
  position: relative;
  font-size: 16px;
}
.join3 .txt3{
  padding-top: 40px;
  font-size: 24px;
  margin-bottom: 50px;
  position: relative;
}
.join3 .txt3 span{
  float: right;
  font-size: 16px;
  color: #FF0000;
  margin-top: 10px;
}
.join3 .txt3::after{
  display: block;
  content: "";
  position: relative;
  width: 860px;
  height: 1px;
  top: 30px;
}
.join3 p{
  line-height: 40px;
  margin-top: 20px;
}
.join3 p input{
  width: 400px;
  height: 40px;
  background: #cccccc;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 100px;
}
input[class="email"]+select{
  position: absolute;
  right: 155px;
  width: 180px;
  height: 40px;
  background: #cccccc;
  border: none;
  border-radius: 5px;
}
.btn_box{
  text-align: center;
  padding-top: 100px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 100px;
}
.btn_box input{
  width: 300px;
  height: 52px;
  background: #FCB416;
  border: none;
  font-size: 18px;
  color: #484C55;
  border-radius: 5px;
  font-family: 'Pretendard';
}
.btn_box span a{
  display: block;
  margin-right: 30px;
  background: #484C55;
  color: #fff;
  width: 300px;
  height: 52px;
  font-size: 18px;
  border-radius: 5px;
  line-height: 52px;
}
input[id="cb1"] + label, input[id="cb2"] + label{
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
  background: #D9D9D9;
  position: relative;
  top: 3px;
}
input[id="cb1"]:checked + label::after, input[id="cb2"]:checked + label::after{
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #FCB416;
  color: #FCB416;
  font-size: 16px;
  text-align: center;
  content: '✓';
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
  top: 0px;
}
input[id="cb1"], input[id="cb2"]{
	display: none;
}
.agree{
  color: #FF0000;
  margin-left: 20px;
}
.login1 {
  width: 1100px;
  height: 100vh;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.login1 th:first-child{
  display: none;
}
.login1 h2{
  display: none;
}
.login1 article{
  position: relative;
  top: 250px;
}
.login1 .log_art1{
  float: left;
}
.login1 .log_art2{
  float: right;
  margin-top: 50px;
}
.txt1{
  font-size: 32px;
  text-align: left;
}
.log_art1 input[type=text],.log_art1 input[type=password]{
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 50px;
  margin-top: 20px;
  background: #ccc;
  border-radius: 5px;
  border: none;
  text-indent: 10px;
  cursor: pointer;
}
#btn1{
  margin-top: 20px;
  width: 402px;
  height: 52px;
  background: #FCB416;
  font-size: 18px;
  color: #484C55;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Pretendard';
  text-align: center;
}
.log_art1 ul{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.log_art1 ul span{
  display: block;
  margin-top: 10px;
}
.log_art2 h3{
  display: none;
}
.login2 .txt2{
  position: relative;
  cursor: pointer;
  left: -105px;
}
.login2 .txt3{
  position: relative;
  left: 90px;
}
.login2 .txt4{
  position: relative;
  left: 110px;
}
input[id="cb1"] + label {
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
  background: #D9D9D9;
  position: relative;
  top: 5px;
  left: -110px;
}
input[id="cb1"]:checked + label::after {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #FCB416;
  color: #FCB416;
  font-size: 16px;
  text-align: center;
  content: '✓';
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
}
input[id="cb1"] {
	display: none;
}
.come{
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 420px;
}
.come::after{
  width: 480px;
  position: relative;
  height: 2px;
  display: block;
  content: "";
  top: 20px;
  background: #FCB416;
  margin: 0 auto;
}
.login_win{
  width: 320px;
  position: relative;
  top: 290px;
  margin: 0 auto;
  font-size: 14px;
  text-align: left;
  vertical-align: baseline;
}
.login_win p{
  margin-bottom: 10px;
}
.login_win p:nth-child(2):after,.login_win p:nth-child(4):after,.login_win p:nth-child(6):after,.login_win p:nth-child(8):after{
  content: "";
  position: relative;
  display: block;
  background: #333;
  height: 1px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
}
.btn_01{
  padding-top: 20px;
  text-align: center;
  display: flex;
}
.btn_01 a{
  width: 150px;
  height: 32px;
  border: 1px solid #FCB416;
  display: inline;
  line-height: 32px;
}
.btn_01 a:first-child{
  margin-right: 20px;
}
.d1{
  background: rgba(255, 0, 0, 0.2);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 180px;
}
.name{
  position: relative;
  top: 200px;
  margin: 0 auto;
  display: block;
  font-size: 32px;
  text-align: center;
}
